aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    border: none;
}

.all-people-desktop {
    display: block;
}

@media (max-width: 768px) {

    aside {
        display: none;
    }
}

i {
    cursor: pointer;
    font-size: 1.5rem;
    transition: transform 0.5s ease-in-out;
}

.rotate-up {
    transform: rotate(180deg);
}

.rotate-down {
    transform: rotate(0deg);
}