<app-header></app-header>

<app-back-to-top-btn></app-back-to-top-btn>

<div class="px-4 py-5 my-5 text-center">
    <div class="creators-img-container">
        <img class="d-block mx-auto mb-4 creators-img" src="/assets/img/creators.jpg" alt="creators">
    </div>
    <h1 class="display-5 fw-bold text-body-emphasis page-header">The <span>Dev</span> Team</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead">Meet the extraordinary team that powers our cutting-edge app, pushing the boundaries of
            technology and creating
            unforgettable experiences for our users.</p>
        <p class="lead">Our team is a unique blend of talent, passion, and expertise, with each member bringing
            their own special
            flair to the table. </p>
        <p class="lead">From dreamers to students to devs.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a class="lead" href="https://storyset.com/online">This app is using Online illustrations by Storyset.</a>
        </div>
    </div>
</div>

<div class="container col-xxl-8 px-4 py-4 my-4">
    <div class="row flex-lg-row align-items-center g-5 py-4">
        <div class="col-10 col-sm-8 col-lg-6">
            <div class="gallery">
                <a [routerLink]="['/creators']" [fragment]="'tomas'"
                    class="d-flex flex-column align-items-center text-center">
                    <img src="/assets/img/tomas.jpg" alt="tomas">
                </a>
                <a [routerLink]="['/']" class="d-flex flex-column align-items-center text-center">
                    <img src="/assets/img/logoBigger.png" alt="logo">
                </a>
                <a [routerLink]="['/creators']" [fragment]="'daniel'"
                    class="d-flex flex-column align-items-center text-center">
                    <img src="/assets/img/daniel.jpg" alt="daniel">
                </a>
                <div class="blank-space"></div>
                <a [routerLink]="['/creators']" [fragment]="'maxnesazal'"
                    class="d-flex flex-column align-items-center text-center">
                    <img src="/assets/img/maxN.jpg" alt="maxN">
                </a>
                <a [routerLink]="['/creators']" [fragment]="'michal'"
                    class="d-flex flex-column align-items-center text-center">
                    <img src="/assets/img/michal.jpg" alt="michal">
                </a>
                <a [routerLink]="['/creators']" [fragment]="'maxslouka'"
                    class="d-flex flex-column align-items-center text-center">
                    <img src="/assets/img/maxS.jpg" alt="maxS">
                </a>
            </div>
        </div>

        <div class="col-lg-6 text-end"> <!-- Use 'text-end' class to align text to the right -->
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 page-header coworkers-grid-header">Choose Your <span>Hero</span>: Seek
                Unveiling Wisdom Beyond the Unseen</h1>
        </div>
    </div>
</div>

<div class="container col-xxl-8 px-4 py-4 my-4" id="tomas">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-4">

        <div class="col-10 col-sm-8 col-lg-6">
            <img ngSrc="/assets/img/tomas.jpg" class="d-block mx-lg-auto img-fluid medallion-photo" alt="Rating"
                width="700" height="500" loading="lazy">
        </div>

        <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 page-header">Tomáš <span>Macoun</span></h1>
            <h2 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">I like fails, they bring experience.</h2>
            <p class="lead">I code, in my free time. It brings me joy and unusual spark to my life. And you know what? I
                want more of this!</p>
            <p class="lead">I also believe there is a solution for everything. So let's apply it, find it or invent it.
            </p>
        </div>
    </div>
</div>

<div class="container col-xxl-8 px-4 py-4 my-4" id="daniel">
    <div class="row flex-lg-row align-items-center g-5 py-4">

        <div class="col-10 col-sm-8 col-lg-6">
            <img ngSrc="/assets/img/daniel.jpg" class="d-block mx-lg-auto img-fluid medallion-photo" alt="Launch"
                width="700" height="500" loading="lazy">
        </div>

        <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 page-header">Daniel <span>Lipták</span></h1>
            <p class="lead">My MBTI test says that I am INTJ aka architect.
            </p>
            <p class="lead">One of suggested professions for this people is Web Developer and I have to agree. It works.
            </p>
        </div>
    </div>
</div>

<div class="container col-xxl-8 px-4 py-4 my-4" id="maxnesazal">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-4">

        <div class="col-10 col-sm-8 col-lg-6">
            <img ngSrc="/assets/img/maxN.jpg" class="d-block mx-lg-auto img-fluid medallion-photo" alt="Rating"
                width="700" height="500" loading="lazy">
        </div>

        <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 page-header">Maxim <span>Nesázal</span></h1>
            <p class="lead">Having lived in both the UK and China, I am a well-traveled individual with diverse
                experiences. </p>
            <p class="lead">I've gained valuable insights from various business ventures, but coding remains my true
                passion. </p>
            <p class="lead">It brings me immense joy and fulfillment, combining my diverse background and love for
                technology.</p>
        </div>
    </div>
</div>

<div class="container col-xxl-8 px-4 py-4 my-4" id="maxslouka">
    <div class="row flex-lg-row align-items-center g-5 py-4">

        <div class="col-10 col-sm-8 col-lg-6">
            <img ngSrc="/assets/img/maxS.jpg" class="d-block mx-lg-auto img-fluid medallion-photo" alt="Launch"
                width="700" height="500" loading="lazy">
        </div>

        <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 page-header">Jan Max <span>Slouka</span></h1>
            <p class="lead">As a coder, I seek to unravel technology's complexities and create meaningful applications,
                fueled by a thirst for learning and a passion for efficiency. </p>
            <p class="lead">Collaboration with like-minded individuals
                drives my quest for knowledge and a positive impact. </p>
        </div>
    </div>
</div>

<div class="container col-xxl-8 px-4 py-4 my-4" id="michal">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-4">

        <div class="col-10 col-sm-8 col-lg-6">
            <img ngSrc="/assets/img/michal.jpg" class="d-block mx-lg-auto img-fluid medallion-photo" alt="Rating"
                width="700" height="500" loading="lazy">
        </div>

        <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 page-header">Michal <span>Čapoun</span></h1>
            <p class="lead">As a coding apprentice, I am on a journey to master the art of precise and efficient code.
            </p>
            <p class="lead">
                Instead of skimming the surface, I delve deep into each subject and unlock the secrets of programming.
            </p>
        </div>
    </div>
</div>

<app-footer></app-footer>