a {
    margin-right: 1rem;
    margin-top: 1rem;
}

img {
    margin-bottom: 3rem;
}

.main-container {
    margin-top: 4rem;
}

@media (max-width: 768px) {

    .upper-container {
        margin-top: 0!important;
        padding-top: 0!important;
    }

    .upper-container .row {
        padding-top: 0!important;
    }

    .main-container .row {
        flex-wrap: wrap;
    }

    .main-container .col-12 {
        flex-basis: 100%;
        max-width: 100%;
    }

    .main-container .col-12.col-md-9 {
        order: 2;
    }

    .main-container .col-12.col-md-3 {
        display: block;
    }
}