<app-header></app-header>

<app-back-to-top-btn></app-back-to-top-btn>

<div class="container upper-container col-xxl-8 px-4 py-3 my-4 mb-6">
  <div class="row flex-lg-row align-items-center g-5 py-3">

    <div class="col-10 col-sm-8 col-lg-6">

      <img ngSrc="/assets/img/newTeam.png" class="d-block mx-lg-auto img-fluid" alt="Build"
           width="700" height="500" loading="lazy">

    </div>

    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 page-header">Where <span>Connections</span> Spark! </h1>
      <h2 class="display-5 fw-bold text-body-emphasis lh-1 mb-3"> Post, Like, Comment - Unleash Your Voice!
      </h2>
      <p class="lead">Dive into a world of captivating posts, vibrant connections, and lively interactions. <b>Like and
        comment</b> on engaging content, and become a cherished part of our dynamic community. Your voice matters here!</p>
    </div>
  </div>
</div>

<div class="container main-container">
  <div class="row">
    <app-posts class="col-12 col-md-9" [userRole]="userRole" [userFullName]="userFullName"
      [currentUserId]="userID"></app-posts>
    <app-aside class="col-12 col-md-3"></app-aside>
  </div>
</div>

<app-footer></app-footer>
