<app-header></app-header>

<app-back-to-top-btn></app-back-to-top-btn>

<div class="container col-xl-10 col-xxl-8 px-4 py-3">
  <div class="row align-items-center g-lg-5 py-3">
    <div class="col-lg-7 text-center text-lg-start">
      <h1 class="display-4 fw-bold lh-1 mb-3">Change your password</h1>
      <p class="lead col-lg-10 fs-4 my-5">"Don't you like your password? Patience, young Fox. Update it and access
        your powers once again."</p>
      <img ngSrc="/assets/img/changePassword.png" class="d-block mx-lg-auto img-fluid" alt="Secure" width="300"
           height="200" loading="lazy">
    </div>
    <div class="col-md-10 mx-auto col-lg-5">
      <form class="p-4 p-md-5 border rounded-3 bg-light" name="form" (ngSubmit)="onSubmit()" #f="ngForm" novalidate>

        <div class="form-floating mb-3">
          <label for="floatingInput1">New password</label>
          <input type="password" class="form-control" id="floatingInput1" placeholder="new password" name="email"
                 [(ngModel)]="form.newPassword" required minlength="6" #newPassword="ngModel"
                 [ngClass]="{ 'is-invalid': f.submitted && newPassword.errors }" >
          <div class="invalid-feedback" *ngIf="newPassword.errors && f.submitted">
            <div *ngIf="newPassword.errors['required']">Password is required</div>
            <div *ngIf="newPassword.errors['minlength']">
              Password must be at least 6 characters
            </div>
          </div>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Change Password</button>
        <hr class="my-4">
        <a routerLink="/update-profile" class="w-100 btn btn-lg btn-outline-secondary" role="button" aria-disabled="true">Go Back</a>
      </form>

        <div *ngIf="isSuccessful" class="alert alert-success" role="alert">
          Password has been changed.
        </div>

        <div class="alert alert-warning" role="alert" *ngIf="f.submitted && isResetFailed">
          Password change failed!<br />{{ errorMessage }}
        </div>

    </div>
  </div>
</div>

<app-footer></app-footer>
