<app-header></app-header>

<app-back-to-top-btn></app-back-to-top-btn>

<div class="container col-xxl-8 px-4 py-3 my-4">
    <div class="row flex-lg-row align-items-center g-5 py-3">

        <div class="col-10 col-sm-8 col-lg-6">
            <img ngSrc="/assets/img/foxFamily.png" class="d-block mx-lg-auto img-fluid" alt="Build" width="700"
                height="500" loading="lazy">
        </div>

        <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 page-header">Spirit <span>Animal</span> Test
            </h1>
            <p class="lead">The 102 spirit animal test is an insightful assessment designed to explore your personality
                traits, preferences, and inner self in order to discover your unique spirit animal. Through a series of
                thought-provoking questions, this test aims to connect you with the animal that best reflects your
                essence and guides you on a path of self-discovery and understanding. Enjoy the enlightening journey and
                embrace your spirit animal companion! 🐾</p>
            <p class="lead">We <b>recommend</b> to complete the test for information crucial for your profile.</p>
            <p class="lead">You can find the test here:</p>
            <a class="lead" href="https://themindfool.com/spirit-animal-list/">Find out more here.</a>
        </div>
    </div>
</div>

<app-footer></app-footer>