<form [formGroup]="form" (ngSubmit)="onSubmit()" class="mb-3">

  <div class="form-group">

    <textarea class="form-control post-form-textarea preformatted-text" formControlName="title" rows="4"
      placeholder="Type your post here..."></textarea>

  </div>

  <button class="btn btn-primary post-form-button mr-2" type="submit" [disabled]="form.invalid">
    {{ submitLabel }}
  </button>

  <button *ngIf="hasCancelButton" type="button" class="btn btn-outline-secondary post-form-button post-form-cancel-button"
    (click)="handleCancel.emit()">
    Cancel
  </button>
  
</form>