<app-header></app-header>

<app-back-to-top-btn></app-back-to-top-btn>

<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-1 fw-bold text-blue">4&nbsp;<img ngSrc="/assets/img/logo.png" height=80 width=80 alt="0" />&nbsp;4
  </h1>
  <h2 class="text-blue">Sorry, the <span>page</span> you were looking for is <span>lost</span>.</h2>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">We are sorry about that.</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a routerLink="/" class="btn btn-primary" role="button" aria-disabled="true">Go Home</a>
    </div>
  </div>
</div>

<app-footer></app-footer>