<app-header></app-header>

<app-back-to-top-btn></app-back-to-top-btn>

<div class="container col-xl-10 col-xxl-8 px-4 py-3">

  <div class="row align-items-center g-lg-5 py-3">
    <div class="col-lg-7 text-center text-lg-start">
      <h1 class="display-4 fw-bold lh-1 mb-3">Password Reset</h1>
      <p class="lead col-lg-10 fs-4 my-5">"Lost your password, you have? Patience, young Fox. Update it, you can,
        and access
        your powers once again."</p>

      <img ngSrc="/assets/img/resetPassword.png" class="d-block mx-lg-auto img-fluid" alt="Secure" width="300"
        height="200" loading="lazy">
    </div>

    <div class="col-md-10 mx-auto col-lg-5">
      <form class="p-4 p-md-5 border rounded-3 bg-light" *ngIf="!isSuccessful" name="form"
        (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

        <!-- email address -->

        <div class="form-floating mb-3">
          <label for="floatingEmail">Email address</label>
          <input type="email" class="form-control" id="floatingEmail" placeholder="name@example.com" name="email"
            [(ngModel)]="form.email" required email #email="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && email.errors }">
          <div class="invalid-feedback" *ngIf="email.errors && f.submitted">
            <div *ngIf="email.errors['required']">Email is required</div>
            <div *ngIf="email.errors['email']">
              Email must be a valid email address
            </div>
          </div>
        </div>


        <!-- year of birth-->

        <div class="form-floating mb-3">
          <label for="floatingYearOfBirth">Year of birth</label>
          <input type="number" class="form-control" id="floatingYearOfBirth" placeholder="format YYYY"
            name="yearOfBirth" [(ngModel)]="form.yearOfBirth" required min="1000" max="9999" #yearOfBirth="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && yearOfBirth.errors }">
          <div class="invalid-feedback" *ngIf="yearOfBirth.errors && f.submitted">
            <div *ngIf="yearOfBirth.errors['required']">Year of birth is required</div>
            <div *ngIf="yearOfBirth.errors?.['min'] || yearOfBirth.errors?.['max']">
              Year of birth must be a valid 4 digit number
            </div>
          </div>

        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">Change Password</button>
        <hr class="my-4">
        <a routerLink="/login" class="w-100 btn btn-lg btn-outline-secondary" role="button" aria-disabled="true">Go
          Back</a>
      </form>

      <div class="alert alert-success" *ngIf="isSuccessful">
        Password has been reset. New password has been sent to your email.
      </div>

      <div class="alert alert-warning" *ngIf="form.submitted && isResetFailed">
        Password reset failed!<br />{{ errorMessage }}
      </div>

    </div>
  </div>
</div>

<app-footer></app-footer>