.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    text-decoration: none;
    color: black;
    background-color: rgba(240, 248, 255, 0);
    margin: 5px;
    margin-left: 1rem;
}

.card:hover {
    transform: scale(1.1);
}

.card p,
.card img {
    margin: .5rem;
}

.card img {
    border-radius: 50%;
}
