<app-header></app-header>

<app-back-to-top-btn></app-back-to-top-btn>

<div class="container col-xxl-8 px-4 py-3 my-4">
    <div class="row flex-lg-row align-items-center g-5 py-3">

        <div class="col-10 col-sm-8 col-lg-6">
            <img ngSrc="/assets/img/eatingDonuts.png" class="d-block mx-lg-auto img-fluid" alt="Build" width="700"
                height="500" loading="lazy">
        </div>

        <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 page-header">Donut <span>Filling</span> Test
            </h1>
            <p class="lead">The Donut Filling Test is fun, delightful and whimsical assessment that imagines you as a donut
                and explores what filling would best represent your personality. This fun test presents you with
                creative questions to determine the perfect donut filling that matches your unique characteristics and
                preferences. Embrace the sweet and flavorful journey as you uncover your ideal donut filling and indulge
                in a playful exploration of your inner self! 🍩😊</p>
            <p class="lead">We <b>recommend</b> to complete the test for information crucial for your profile.</p>
            <p class="lead">You can find the test here:</p>
            <a class="lead"
                href="https://www.buzzfeed.com/hannahbrudney1/answer-these-random-questions-to-find-out-what-dou-ejhuynyt66">Find
                out more here.</a>
        </div>
    </div>
</div>

<app-footer></app-footer>