<app-header></app-header>

<app-back-to-top-btn></app-back-to-top-btn>

<div class="container">
    <div class="px-4 py-5 my-5 text-left">
        <img ngSrc="/assets/img/documentation.png" alt="documentation" class="d-block mx-lg-auto img-fluid" width="600"
            height="500" loading="lazy">
        <h1 class="display-5 fw-bold text-body-emphasis border-bottom my-4 page-header"><span>Terms</span> of use</h1>
        <div class="col-lg-8 mx-auto text-left">
            <p class="lead mb-4">Welcome to FoxHub, a social networking platform provided by Green Fox Academy ("we,"
                "us,"
                or "our"). These Terms of Use ("Terms") govern your access to and use of the FoxHub social app ("App"),
                including all features, services, and content available through the App. By accessing or using the App,
                you
                agree to be bound by these Terms. If you do not agree to these Terms, please do not access or use the
                App.
            </p>
        </div>

        <h2 class="display-5 fw-bold text-body-emphasis border-bottom my-4">Acceptance of Terms</h2>
        <div class="col-lg-8 mx-auto text-left">
            <p class="lead mb-4">By using the App, you affirm that you are at least 13 years of age and are fully able
                and
                competent to enter into these Terms. If you are using the App on behalf of an organization or entity,
                you
                represent and warrant that you have the authority to bind that organization to these Terms.
            </p>
        </div>

        <h2 class="display-5 fw-bold text-body-emphasis border-bottom my-4">Registration and User Accounts</h2>
        <div class="col-lg-8 mx-auto text-left">
            <p class="lead mb-4"> a. In order to access and use certain features of the App, you may be required to
                register
                for an account. You agree to provide accurate and complete information during the registration process
                and
                to keep your account information updated. You are solely responsible for maintaining the confidentiality
                of
                your account credentials and for all activities that occur under your account.
            </p>
            <p class="lead mb-4"> b. You must not use false or misleading information while creating your account.
                Impersonating another person, entity, or misrepresenting your affiliation with any person or entity is
                prohibited.
            </p>
            <p class="lead mb-4"> c. You are responsible for all activities that occur on your account, whether or not
                authorized by you. You agree to immediately notify us of any unauthorized use or suspected breach of
                security.</p>
        </div>

        <h2 class="display-5 fw-bold text-body-emphasis border-bottom my-4">Modifications</h2>
        <div class="col-lg-8 mx-auto text-left">
            <p class="lead mb-4"> We reserve the right to modify or update these Terms at any time, without prior
                notice.
                The updated Terms will be effective as of the date of posting. Your continued use of the App after the
                posting of the updated Terms constitutes your acceptance of the changes.
            </p>
        </div>

        <h2 class="display-5 fw-bold text-body-emphasis border-bottom my-4">Severability</h2>
        <div class="col-lg-8 mx-auto text-left">
            <p class="lead mb-4"> If any provision of these Terms is held to be invalid, illegal, or unenforceable, the
                validity, legality, and enforceability of the remaining provisions shall not in any way be affected or
                impaired.
            </p>
        </div>

        <h2 class="display-5 fw-bold text-body-emphasis border-bottom my-4">Entire Agreement</h2>
        <div class="col-lg-8 mx-auto text-left">
            <p class="lead mb-4"> These Terms constitute the entire agreement between you and Green Fox Academy
                regarding
                the App and supersede all prior or contemporaneous agreements, understandings, and representations.
            </p>
        </div>

        <div class="col-lg-8 mx-auto text-left">
            <p class="lead mb-4"> If you have any questions or concerns about these Terms, please contact us at [contact
                information].
            </p>
        </div>

        <div class="col-lg-8 mx-auto text-left">
            <p class="lead mb-4"> Thank you for using FoxHub!
            </p>
        </div>
    </div>
</div>

<app-footer></app-footer>