<app-header></app-header>

<app-back-to-top-btn></app-back-to-top-btn>

<div class="container col-xxl-8 px-4 py-3 my-4">
    <div class="row flex-lg-row align-items-center g-5 py-3">

        <div class="col-10 col-sm-8 col-lg-6">
            <img ngSrc="/assets/img/personalFiles.png" class="d-block mx-lg-auto img-fluid" alt="Build" width="700"
                height="500" loading="lazy">
        </div>

        <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 page-header">16 <span>Personalities</span> Test
            </h1>
            <p class="lead">The 16 Personalities Test, also known as the Myers-Briggs Type Indicator (MBTI), is a
                widely-used psychometric tool designed to assess an individual's personality traits and preferences. It
                is based on the theory proposed by Carl Jung, a Swiss psychiatrist, and was later developed by Isabel
                Briggs Myers and Katharine Cook Briggs.</p>
            <p class="lead">The test categorizes individuals into 16 different personality types, each represented by a
                four-letter code.</p>
            <p class="lead">We <b>recommend</b> to complete the test for information crucial for your profile.</p>
            <p class="lead">You can find the test here:</p>
            <a class="lead" href="https://www.16personalities.com/">16Personalities Test.</a>
        </div>
    </div>
</div>

<app-footer></app-footer>