<div class="container">

  <footer class="d-flex flex-wrap justify-content-between align-items-center py-2 my-2 border-top">

    <p class="col-md-2 mb-0 text-body-secondary d-flex align-items-center justify-content-center">&copy; 2023
      FoxBook</p>

    <!-- green fox logo -->

    <a class="navbar-brand col-md-2 d-flex align-items-center justify-content-center" routerLink="/">
      <img ngSrc="/assets/img/GFA-logo.png" width="30" height="30" alt="GFA logo">
    </a>

    <!-- social links -->

    <ul class="nav col-md-2 justify-content-center">
      <li class="nav-item">

        <a routerLink="/creators" class="nav-link px-2 text-body-secondary">
          <i class="bi bi-star"></i>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/termsOfUse" class="nav-link px-2 text-body-secondary">
          <i class="bi bi-journal-text"></i>
        </a>
      </li>
      <li class="nav-item">
        <a href="https://www.greenfoxacademy.cz/"
          class="nav-link px-2 text-body-secondary">
          <i class="bi bi-globe"></i>
        </a>
      </li>
      <li class="nav-item">
        <a href="https://www.instagram.com/greenfoxcze_official/" class="nav-link px-2 text-body-secondary">
          <i class="bi bi-instagram"></i>
        </a>
      </li>
    </ul>
  </footer>
</div>