<app-header></app-header>

<app-back-to-top-btn></app-back-to-top-btn>

<div class="container col-xxl-8 px-4 py-3 my-4">
    <div class="row flex-lg-row align-items-center g-5 py-3">

        <div class="col-10 col-sm-8 col-lg-6">
            <img ngSrc="/assets/img/personalFiles.png" class="d-block mx-lg-auto img-fluid" alt="Build" width="700"
                height="500" loading="lazy">
        </div>

        <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 page-header">True <span>Color</span> Personality
                Test
            </h1>
            <p class="lead">The True Color Personality Test is a popular psychological tool used to assess and
                categorize individual personalities based on color preferences. It is a simplified version of the
                Myers-Briggs Type Indicator (MBTI) and other similar tests. The concept behind the True Color
                Personality Test is to assign one of four primary colors (red, blue, green, yellow) to represent
                different personality types.</p>
            <p class="lead">Each color represents a distinct set of traits and behaviors.</p>
            <ul>
                <li>
                    <p class="lead">Red: Red personality values energetic, passionate, impulsive, and ready to take on
                        new challenges.</p>
                </li>
                <li>
                    <p class="lead">Green: Green personality values perfectionistic, analytical, conceptual, cool, calm,
                        inventive, and logical. They can be good researchers and look for facts and ask many questions.
                    </p>
                </li>
                <li>
                    <p class="lead">Blue: Blue personality values honesty, integrity, and openness, and They tend to be
                        straightforward in their interactions with others and comfortable expressing their true feelings
                        and opinions.</p>
                </li>
                <li>
                    <p class="lead">Yellow: Yellow personalities value cheerful, optimistic, sunny, optimistic, and
                        forthright. They tend to be extroverted and enjoy being around others. They are generally
                        good-natured and make friends easily.</p>
                </li>
            </ul>
            <p class="lead">We <b>recommend</b> to complete the test for information crucial for your profile.</p>
            <p class="lead">You can find the test here:</p>
            <a class="lead" href="https://my-personality-test.com/">True Color Personality Test.</a>
        </div>
    </div>
</div>

<app-footer></app-footer>